.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.product-container {
  padding-left: 3em;
  padding-right: 3em;
  margin-top: 3em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Title {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: baseline;
  padding: 2em;
  margin-bottom: 0.5em;
  border-color: 1px solid #eae8f0 !important;
  border-bottom: black;
  color: #fff;
}

.Title-Subtitle {
    color: rgba(255, 255, 255, 0.75);
}

.searchtag {
  width: 629px;
  border-radius: 0.25rem;
  height: 47px;
  border: 1px solid #ced4da;
}



.cart-icon {
  color: #69863c;
  list-style: none;
  padding-left: 30px;
}
.list-item {
  display:inline-flex ;
}
.list_items {
  text-align: right;
}

.loginicon {
  padding-right: 5px;
}

.dot {
  height: 13px;
  width: 12px;
  background-color: #eb883c;
  border-radius: 50%;
  display: inline;
  color: #ffffff;
}



.input-add {
  width: 36px;
  text-align: center;
  border: 0;
}

.update_qty {
  width: 109px;
  border: 1px solid gray;
  border-radius: 5px;
}
.addition-button {
  display: flex;
}
.text-right {
  text-align: right;
}

.bttn-colors {
  background-color: #69863c;
  color:white;
}

.add-btn {
  background: #69863C;
  border-radius: 7px 0px 8px;
  padding: 0px 0px;
  width: 94px;
  height: 39px;
  text-align: center;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0px 10px  0 18px;
  border: #69863C;
}

.content-detail {
  padding: 50px;
  display: flex;
}

.content-detail .img-div {
  border: 1px solid gray;
  padding: 50px;
}

.content-detail .img-div img {
  width: 280px;
}

.product-data .sellers {
  margin: 0px;
  background: #F5EFD5;
  color: #69863C;
}

.product-data {
  padding: 20px;
}footer {
  background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;
}

header {
  background-color: white;
  text-align: center;
  color: white;
  border: 1px solid #eae8f0 !important;
  height: 120px
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav {
  float: left;
  width: 18%;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 20px;
  width: 80%;
  border-left: 1px solid #eae8f0;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.column2 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.column3 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.column4 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.column5 {
  float: left;
  width: 20%;
  padding: 10px;
  height: 300px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.row>* {
  margin-bottom: 20px;
  width: 20% !important;
}

.card {
  padding: 20px;
}

.anchor_list a {
  color: #333;
  text-decoration: none !important;
  font-size: 12px;
}

.anchor_list a:hover {
  color: #69863c;
}

.product-content {
  width: 20%;
}

.sellers {
  background: #69863C;
  border-radius: 7px 0px 8px;
  padding: 4px 8px;
  width: 90px;   width: 122px;
  height: 23px;
  text-align: center;
  font-size: 12px;   font-size: 17px;
  line-height: 15px;
  color: #FFFFFF;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: -23px;
}

*,
::after,
::before {
  box-sizing: border-box;

}

.allcontent .prodctprice {
  width: 30%;
  height: 52px;
  background-color: #f7f7f8;
  border-radius: 4px;
  font-weight: 800;
  font-size: 16px;
  padding-top: 1.5rem;
  border: 1px solid #eae8f0 !important;
  margin: 10px 0;
}

.allcontent select {
  margin: 10px 0;
  border-color: #9a9a9a;
  height: 35px;
  color: #9a9a9a;
  background-color: white;
}

.font-11 {
  font-size: 11px;
}

.font-12 {
  font-size: 12px;
  font-weight: 700;
}

.color-green {
  color: #69863c;
}

.text-left {
  text-align: left;
}

.card img {
  margin: 23px 0px 7px 0px;
  cursor: pointer;
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: black;
  padding: 16px;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #04AA6D;
  color: white;
}

.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

/* @media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  div.content {
    margin-left: 0;
  }
} */

/* @media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
} */

/* ----------------------media queries------------------- */

/* ----------------------desktop/laptop------------------- */
/* @media (min-width: 1024px) { 

} */

/* ----------------------Iphone/Ipad------------------- */
 /* @media (min-width: 769px) and (max-width: 1023px) {
  article {
    width: 73%;
  }

  nav ul {
    list-style-type: disc;
  }

  .anchor_list a {
    font-size: 22px;
  }

   .searchtag {
    width: 216px;
    border-radius: 0.25rem;
    height: 47px;
    border: 1px solid #ced4da;
    display: none; 
  } 

  .list_items {
    text-align: -webkit-left
  }

  .font-11 {
    font-size: 36px;
  }

  .font-12 {
    font-size: 23px
  }

  .allcontent .prodctprice {
    padding-top: 0.87rem;
    font-size: 25px;
  }

  .sellers {
    width: 122px; 
    font-size: 17px;
  }
}  */


/* ----------------------Mobile Phone ------------------- */
/* @media (min-width: 360px) and (max-width: 768px) {
  .searchtag {
    width: 189px;
    border-radius: 0.25rem;
    height: 47px;
    border: 1px solid #ced4da;
    display: none;
  }

  .row>* {
    margin-bottom: 20px;
  }

  .addition-button {
    display: flow-root;
  }

  .card {
    height: 478px;
  }

  .update_qty {
    width: 105px;
  }

} */